{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>#InternetSemLimites</title>

  <link rel="apple-touch-icon" sizes="57x57" href="{{root}}assets/favicon.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{root}}assets/favicon.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{root}}assets/favicon.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{root}}assets/favicon.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{root}}assets/favicon.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{root}}assets/favicon.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{root}}assets/favicon.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{root}}assets/favicon.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{root}}assets/favicon.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{root}}assets/favicon.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/favicon.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{root}}assets/favicon.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/favicon.ico/favicon-16x16.png">
  <link rel="manifest" href="{{root}}assets/favicon.ico/manifest.json">
  <meta name="msapplication-TileColor" content="#3074C9">
  <meta name="msapplication-TileImage" content="{{root}}assets/favicon.ico/ms-icon-144x144.png">
  <meta name="theme-color" content="#3074C9">

  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>
<body>
  {{> tagmanager}}
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> body}}
  <script async src="{{root}}assets/js/app.js"></script>
</body>
</html>